* {
    margin: 0;
}

html, body, main {
    height: 100%;
    min-height: 100%;
}

.backgroud-paris {
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background-image: url("/assets/imgs/background-paris.jpg");
    background-color: #cccccc;
    filter: blur(3px);
    z-index: -100;
}

.container {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 20px;
}