{{define "layout"}}

<!DOCTYPE html>
<html>
    <head>
        <title>Ads App</title>
        <link rel="icon" type="image/x-icon" href="/assets/imgs/icon/favicon.ico">
        <link rel="stylesheet" href="/assets/styles/style.css">

        <script src="/assets/scripts/script.js"></script>
    </head>

    <body>
        {{template "content" .}}
    </body>
</html>

{{end}}
